.encabezado {
  background-image: url(https://picsum.photos/id/350/1200/1200);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  align-items:center;
  justify-content:center;
  color:white;
}
